body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image: url('yodaBackground_new\ \(1\).png');
    background-size: cover; /* Adjust the size to cover the entire viewport */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, to fix the background when scrolling */
    color: #000000; /* Set text color to be visible against the background */
}

.chat-container {
    position: absolute;
    top: 270px;
    bottom: 425px;
    left: 225px;
    right: 30px;
    display: flex;
   /*border: 1px solid #ccc;*/
    border-radius: 10px;
    height: 90px;
    width: 740px;
    padding: 20px;
    text-align: center;
    
}

#userInput {
    width: 730px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chatOutput {
    position: absolute;
    top: 510px;
    bottom: 125px;
    left: 230px;
    right: 100px;
    display: flex;
    /*border: 1px solid #ffffff;*/
    border-radius: 5px;
    height: 130px;
    overflow-y: auto;
    max-width: 780px;
}


/* styles.css */
.image-container {
    position: relative;
    width: 100px; /* Adjust the size as needed */
    height: 200px;
    top: 300px;
    left: 1020px;
    right: 200px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    rotate: -45deg;
    height: 80%;
    animation: slide 12s linear infinite; /* Adjust the animation properties as needed */
}

@keyframes slide {
    0% {
        left: 0;
    }
    50% {
        left: 50%; /* Adjust the end position */
    }
    100% {
        left: 0;
    }
}


/* styles.css */
.animated-image {
    width: 200px; /* Initial width */
    animation: resize 10s alternate infinite; /* Animation properties */
    transform-origin: center; /* Set the transform origin to the center of the image */
    position: relative;
    bottom: 100px;
    left: 510px;
}

.animated-image2 {
    width: 200px; /* Initial width */
    animation: resize2 3s alternate infinite; /* Animation properties */
    transform-origin: center; /* Set the transform origin to the center of the image */
    position: relative;
    top: 350px;
    bottom: 10px;
    
}

@keyframes resize {
    0% {
        transform: scale(1); /* Initial size */
    }
    100% {
        transform: scale(1.05); /* Scale up to 1.2 times the original size */
    }
}

@keyframes resize2 {
    0% {
        transform: scale(.7); /* Initial size */
    }
    100% {
        transform: scale(.73); /* Scale up to .03 times the original size */
    }
}